APP_URL=http://localhost:3000

# CLERK
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# DATABASE
DATABASE_URL=

# S3
B2_REGION=
B2_KEY_ID=
B2_APPLICATION_KEY=
B2_BUCKET_NAME=

# CHATTERBOX
CHATTERBOX_API_KEY=
CHATTERBOX_API_URL=
HF_ACCESS_TOKEN=

# POLAR
POLAR_ACCESS_TOKEN=
POLAR_SERVER=
POLAR_PRODUCT_ID=
POLAR_METER_VOICE_CREATION=voice_creation
POLAR_METER_TTS_GENERATION=tts_generation
POLAR_METER_TTS_PROPERTY=characters
